.menu-first-line {
    display: grid;
    width: 100%;
    
    .search-link-square {
        height: 50px;   
        display: grid;
        
        .glass-zone {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFFFFF;
    
            .chevron-down {
                position:relative;
                margin-top: 20px;
                margin-left: -12px;
                display:block;
                height:24px; /*height should be double border*/
                padding-top: 10px;
                padding-right: 10px;
            }
            
            .chevron-down::before,
            .chevron-down::after {
                position:absolute;
                display:block;
                content:"";
                border:12px solid transparent; /*adjust size*/
            }
            /*Change the four instances of 'top' below to rotate (top/right/bottom/left)*/
            .chevron-down::before {
                top:0;
                border-top-color:@primaryColor; /*Chevron Color*/
            }
            .chevron-down::after {
                top:-10px; /*adjust thickness*/
                border-top-color:#fff; /*Match background colour*/
            }
            .chevron-down {
                cursor: pointer;
            }
        }
    }
}

.right-area{

    grid-column-start: 2;
    grid-column-end: 11;
          
    background: @primaryColorDark;
    min-height: 50px;
    
    display: grid;
    align-content: center;
    padding-left: 5%;
        
    h2{
        margin: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 35px;
        color: #FFFFFF;
    }        
}