.menu-second-line {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 12;
}

.version-numbers {
    display: inline-flex;
    justify-content: space-around;
    background-color: @primaryColor;
}


.empty-division {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.version-summary {
    background-color: @primaryColor;

    &-first-line{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 35px;
        line-height: 41px;    
        color: #FFFFFF;
    }

    &-second-line {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 23px;
        
        color: #FFFFFF;
        max-height: 40px;
    }

    &--1 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    &--2 {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    &--3 {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 3;
    }
}

.empty-left-space {
    background: @white;
    min-width: 50px;
}