.version-summary {
    cursor: pointer;
    background-color: @primaryColor;

    &-first-line{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        padding-top: 10px;    
        color: #FFFFFF;
    }

    &-second-line {
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 23px;
        
        color: #FFFFFF;
        max-height: 40px;
    }

    &--1 {
        grid-column-start: 2;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    &--2 {
        grid-column-start: 5;
        grid-column-end: 8;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
    &--3 {
        grid-column-start: 8;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    
}


.version-flex{
    display: inline-flex;
    padding-top: 5px;
    .menu-icon {
        max-height: 18px;
        padding-top: 10px;
    }
    h3 {
        padding-left: 10px;
    }
}
    

.version-summary {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
   
    h3 {
        margin: 0;
    }
}
