tbody tr:hover{
    background-color: @hoverBlue;
    color: white;

    p {
        color:white;
    }
    .week-number {
        color: white;
        transition:all 0.3s;
    }
    transition:all 0.3s;
    
    cursor: pointer;
    .release-note-file-icon{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(43deg) brightness(104%) contrast(101%); // white
    }
}


.releaseline-link-button {
    background-color: transparent;
    border: transparent;
    .release-note-file-icon{
        width: 14px;
        height: 14px;
        padding-left: 2px;
        padding-right: 2px;
    }    
    .release-note-file-icon:hover{
        width: 18px;
        height: 18px;
        padding-left: 0px;
        padding-right: 0px;
    }    
}