.gantt {
    height: 170px;
    .bar {
      fill: #45525F !important;
    }
    .bar-progress {
        fill: @primaryColorDark !important;
    }
    .upper-text {
        text-align: left !important;
        text-anchor: left !important;

    }
    

    .today-highlight{
      fill: @primaryColor !important;
      opacity: 0.5 !important;
    }

    pointer-events: none; // disable hover
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 .gantt-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gantt-container {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  } 