// grid
html{
    max-width: 500px;
    margin: 0 auto;

}
.grid{
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-gap: 15px;
    justify-content: center;
}

.page-title{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 120px;
    height: 120px;

    &--feedback{
        min-height: 180px;
    }

    cursor: default;

    .app-title-h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #2051E2;
    }
      
    .app-title-h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: lighter;
        font-size: 25px;
        line-height: 15px;
        margin-top: 0px;
        padding-top: 8px;
      
        color: @lightGrey;
    }
}  

.page-title-text {
    cursor: pointer;
}

.page-title--feedback{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 180px;
    height: 180px;


    cursor: default;

    .app-title-h1 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 0px;
        margin-top: 0px;
        color: #2051E2;
    }
      
    .app-title-h2 {
        font-family: Poppins;
        font-style: normal;
        font-weight: lighter;
        font-size: 25px;
        line-height: 15px;
        margin-top: 0px;
        padding-top: 0px;
      
        color: @lightGrey;
    }
}  

.menu {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
}

.spinner {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;

    text-align: center;
    margin-top: 70px;
    padding-top: 30px;
    margin-bottom: 30px;
}

.version-dropdown {
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;

    display: inline-flex;
    justify-content: center;
    align-content: center;

    margin-top: 20px;

    h3 {
        margin: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 50px;
        text-align: center;

        color: @black;
    }

    .version-number-dropdown{
        margin-top: -16px;
        padding-left: 25px;
        padding-right: 25px;
    }
}

.area-title {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;

    display: inline-flex;
    justify-content: left;
    align-content: center;
}

.selected-version-jira-link{
    grid-column-start: 10;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;

    display: inline-flex;
    justify-content: right;
    align-content: center;

    margin-top: 14px;

    button {
        height: 30px;
        width: 150px;
        font-weight: normal;
        font-size: 16px;
        cursor: pointer;

        .release-note-file-icon{
            width: 14px;
            height: 14px;
        }

        .release-note-button-span {
            margin-left: 5px;
        }
    }

    button:hover {
        transition: all 0.3s;
        cursor: pointer;  
        border-color: @primaryColor;
        border-width: 1px;
    }
}

.selected-version-jira-link a:hover{
        .button-div {
            filter: invert(32%) sepia(59%) saturate(2085%) hue-rotate(204deg) brightness(90%) contrast(98%); // primary blue color
            transition: all 0.3s;
        }
}

.timeline {
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 5;

    h2 {
        max-width: 25%;
    }

    // font-family: Roboto;
    // font-style: normal;
    // font-weight: 300;
    // font-size: 20px;
    // line-height: 25px;

    // h2 {
    //     margin: 0;
    // }
    //     p {
    //         text-align: center;
    //     }
}

.search-area{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 6;

    background-color: @primaryColor;
    max-height: 150px;
    margin-bottom: 30px;
    text-align: center;
    margin-bottom: 50px;

    h1 {
        font-family: Roboto;
        font-style: normal;
        font-weight: lighter;
        font-size: 40px;
        line-height: 47px;

        color: #FFFFFF;

        .bold {
            font-weight: bolder;
        }
    }
}

.all-releases-area{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 5;
    grid-row-end: 6;

    

    .all-releases-header {
        display: inline-flex;
        width: 100%;
    }

    .all-releases-title {
        width: 30%;
        margin: 0;
        padding: 0;
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 20px;
        line-height: 25px;
    }

    .all-releases-filters{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        
            p, select, input { 
                margin: 0;
                margin-left: 15px;
                padding: 0;
                line-height: 12px;
               
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 21px;
            }       
    }

    .releases-table{
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;       
        text-align: center;

        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;

        color: #000000;



        thead{
            background-color: @lightGrey;
                
            th {
                min-width: 25%;
                font-family: Roboto;
                font-style: normal;
                font-weight: 300;
                font-size: 20px;
                line-height: 21px;
                color: @black;
                padding-top: 15px;
                padding-bottom: 15px;
            }                          
        }

        td {
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 10px;
            padding-right: 10px;
        }      
        
        .version-number {
            font-weight: 500;
            font-size: 20px;
            line-height: 21px;
        }    
    }
}

.all-releases-area {
    .version-number-td{
        text-align: center;
    }

    .integration-period-td{
        padding-left: 50px;
    }
}

.all-versions-list {
    .version-number-td{
        text-align: center;
    }

    .integration-period-td{
        padding-left: 50px;
    }
}

.arrow-left {
    width: 0; 
    height: 0; 
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;  
    border-right:40px solid @primaryColor; 
    cursor: pointer;
}

.arrow-right {
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;  
    border-left:40px solid @primaryColor; 
    cursor: pointer;
}

tbody {
    width: 100%;
}

.table-date-cell {
    // text-align: left;
    p {
        margin-bottom: 0px;
        margin-top: 0px;
        padding-bottom: 0px;
        padding-top: 0px;

        
    }
    .week-number{
        font-family: Roboto;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;  
        color: @lightGrey;
    }
}

.chevron-left {
    position:relative;
    margin-top: -3px;
    display:block;
    height:24px; /*height should be double border*/
}

.chevron-left::before,
.chevron-left::after {
    position:absolute;
    display:block;
    content:"";
    border:12px solid transparent; /*adjust size*/
}
/*Change the four instances of 'top' below to rotate (top/right/bottom/left)*/
.chevron-left::before {
    right:0;
    border-right-color:@primaryColor; /*Chevron Color*/
}
.chevron-left::after {
    right:-10px; /*adjust thickness*/
    border-right-color:#fff; /*Match background colour*/
}

.chevron-right {
    position:relative;
    margin-top: -3px;
    display:block;
    height:24px; /*height should be double border*/
}

.chevron-right::before,
.chevron-right::after {
    position:absolute;
    display:block;
    content:"";
    border:12px solid transparent; /*adjust size*/
}
/*Change the four instances of 'top' below to rotate (top/right/bottom/left)*/
.chevron-right::before {
    left:0;
    border-left-color:@primaryColor; /*Chevron Color*/
}
.chevron-right::after {
    left:-10px; /*adjust thickness*/
    border-left-color:#fff; /*Match background colour*/
}

.chevron-left {
    cursor: pointer;
}

.chevron-right {
    cursor: pointer;
}

.all-versions-list{
    grid-column-start: 2;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
}

.page-switch-button {
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;

    background-color: @primaryColor;
    color: white;
    border: none;
    border-radius: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: lighter;
    font-size: 16px;

    height: 30px;

    // margin-top: 82px;

    :focus {
        border: none;
    }
}

.no-hover {
    pointer-events: none;
}

button {
    cursor: pointer;
}
.feedback{
    color: white;
    background-color: rgba(229, 229, 229, 0.4);
    margin-top: 0;
    display: inline-flex;
    min-width: 100%;
    align-content: center;
    justify-content: space-between;
    box-shadow: 1px 2px 2px #dcdcdc;
    display: flex;
    cursor: default;

    &-text {
        p {
            font-family: Roboto;
            font-weight: lighter;
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 60px;
            text-align: center;
            color: black;
            font-size: 16px;
            font-style: italic;
            a {
                color: @primaryColorDark;
                button {
                    padding: 5px;
                    padding-inline: 30px;
                    font-family: Roboto;
                    font-size: 16px;
                    margin-left: 50px;
                }

                button:hover {
                    color: #2051E2;
                }
            }
        }
    }
    &-close {
        display: flex;
        button {
            align-items: center;
            font-family: Roboto;
            font-size: 20px;
            background-color: transparent;
            border: none;
            padding-right: 20px;
        }
    }
}

.page-header{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;
}

.page-header--feedback{
    display: inline-flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
}

.dates-alignment {
    display: inline-flex;
    justify-content: space-around;
    align-content: center;
    padding: 0px !important;
    width: 100%;
}