#year-choice {
    padding: 0px;
    width: 100%;
    display: inline-flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 0px;
    position: relative;
    top:-38px;
    bottom: -38px;

    .year-button { 
        background-color: rgba(229, 229, 229, 0.4);
        color: black;
        border: none;
        border-radius: 10px;
    
        font-family: Poppins;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;
    
        margin-left: 5px;
        
        :focus {
            border: none;
        }           
    }

    .year-button-selected{
        background-color: @primaryColor;
        color: white;
    }        
}

.page-bottom-buttons{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;

    .up-button{
        background-color: @primaryColor;
        color: white;
        border: none;
        border-radius: 10px;

        font-family: Poppins;
        font-style: normal;
        font-weight: lighter;
        font-size: 16px;

        min-width: 30px;
    }
}

.all-versions-per-year-table {
    position: relative;
    top: -38px;
}