@primaryColor: #2051E2;
@primaryColorDark: #1237A3;
@black: #000000;
@white: #FFFFFF;
@lightGrey: #6E7281;
@hoverBlue: #3E68E5;

// Fonts
@font-title: "Poppins";
@font-text: "Roboto";


// FIXME: Put this in the reset file
html {
    font-size: 62.5%;
    font-family: @font-text;
} 

body {
    font-size: 1.4rem;
}

