.search-parameter{
    text-align: left;
}

.parameter-name{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
   
    color: #2051E2;

    margin-bottom: 0px;
    
    
}

.place-holder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 29px;
    
    color: #E5E5E5;
    
    margin-top: 10px;
    margin-bottom: 15px;
}