table {
    border-collapse: collapse;
    min-width: 100%;
    font-family: Roboto;    
}

thead th{
    background-color: rgba(229, 229, 229, 0.4);
    font-size: 18px;
    font-weight: lighter;
    padding-top: 10px;
    padding-bottom: 10px;
}

tbody {
    font-size: 16px;
}

.week-number{
    font-size: 14px;
    color: @lightGrey;
    margin-bottom: 0px;
    margin-top: 10px;
}

.date{
    margin-top: 0px;
    margin-bottom: 10px;
}
